<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^([^\.]+)$ $1.html [NC,L]

  # Fallback to index.html (if needed for unknown paths)
  RewriteRule ^.*$ /index.html [L]
</IfModule>
